*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0 , 0 , 0.1);
}

.container .left_side
{
    position: relative;
    background: burlywood;
    padding: 40px;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.profileText .imgBx
{
     position: relative;
     width: 200px;
     height: 200px;
     border-radius: 50%;
     overflow: hidden;
}

.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: none;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo
{
    padding-top: 50px;
}

.title
{
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul
{
    position: relative;

}

.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 25px;

}

.contactInfo ul li span
{
    font-size: 18px;
}

.container .right_side
{
    position: relative;
    background: white;
    padding: 40px;
}

.about
{
    margin-bottom: 50px;
}

.about:last-child
{
    margin-bottom: 0;
}

.title1
{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p
{
    color: black;

}

.education .title2
{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.education li
{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.education h5
{
    color: black;
    font-weight: 1800;
    margin-bottom: 15px;
    font-family: Arial;
    
}

.education h4
{
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.education h4
{
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.experience .title3
{
    margin-top: 50px;
    text-transform: uppercase;
}
.experience .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    
}

.experience .box .company_nameone h3
{
    margin-top: 10px;
    min-width: 150px;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
}

.experience .box p
{
    margin-top: 19px;
    text-transform: capitalize;
    color: black;
    
    flex-direction: column;
    font-weight: 1800;
    font-family: Arial;
}

.projects .title4
{
    margin-top: 50px;
    text-transform: uppercase;
}
.projects .boxone
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    
}

.projects .boxone .mypro h3
{
    margin-top: 10px;
    min-width: 150px;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
}

.projects .boxone p
{
    margin-top: 19px;
    text-transform: capitalize;
    color: black;    
    flex-direction: column;
    font-weight: 1800;
    font-family: Arial;
}